<mat-card class="mat-elevation-z0">
  <mat-card-header>
    <mat-card-title class="card-container-left">
      Incoming Training
      <button (click)="addNewTrainingToDB()" *ngIf="isAdmin" class="left-btn btn">
        <i class="fa-solid fa-plus"></i>
      </button>
    </mat-card-title>
    <button (click)="getTrainingList()" class="right-btn btn">
      <i class="fa-solid fa-arrow-rotate-right"></i>
    </button>
  </mat-card-header>

  <mat-card-content class="scrollable-content" *ngIf="isActiveTeamMember || isAdmin">
    <app-training-content [isEditAble]="true" [isRefreshing]="isRefreshing"></app-training-content>
  </mat-card-content>
</mat-card>
