<div class="container">
  <div class="row">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-11">
            <h4>Training Statistics</h4>
          </div>
          <div class="col-1">
            <button class="btn" (click)="downloadStatistics()" *ngIf="trainingStatisticList">
              <i class="fa-solid fa-download"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="card-body">
        <ng-container *ngIf="isLoading; else content">
          <div class="spinner-border" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </ng-container>
        <ng-template #content>

          <form class="row row-cols-sm-auto">
            <div class="col-12">
              <div class="dp-hidden position-absolute">
                <div class="input-group">
                  <input name="datepicker"
                         class="form-control"
                         ngbDatepicker
                         #datepicker="ngbDatepicker"
                         [autoClose]="'outside'"
                         (dateSelect)="onDateSelection($event)"
                         [displayMonths]="2"
                         [dayTemplate]="t"
                         outsideDays="hidden"
                         [startDate]="fromDate!"
                         tabindex="-1">
                  <ng-template #t let-date let-focused="focused">
                  <span class="custom-day"
                        [class.focused]="focused"
                        [class.range]="isRange(date)"
                        [class.faded]="isHovered(date) || isInside(date)"
                        (mouseenter)="hoveredDate = date"
                        (mouseleave)="hoveredDate = null">
                    {{ date.day }}
                  </span>
                  </ng-template>
                </div>
              </div>
              <div class="input-group">
                <input #dpFromDate
                       class="form-control" placeholder="yyyy-mm-dd"
                       name="dpFromDate"
                       [value]="formatter.format(fromDate)"
                       (input)="fromDate = validateInput(fromDate, dpFromDate.value)">
                <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
                  <i class="fa-solid fa-calendar-day"></i>
                </button>
              </div>
            </div>
            <div class="col-12">
              <div class="input-group">
                <input #dpToDate
                       class="form-control" placeholder="yyyy-mm-dd"
                       name="dpToDate"
                       [value]="formatter.format(toDate)"
                       (input)="toDate = validateInput(toDate, dpToDate.value)">
                <button class="btn btn-outline-secondary" (click)="datepicker.toggle()" type="button">
                  <i class="fa-solid fa-calendar-day"></i>
                </button>
              </div>
            </div>
            <div class="col-12">
              <button class="btn" (click)="updateTrainingStatistics()" type="button">
                <i class="fa-solid fa-arrow-rotate-right"></i>
              </button>
            </div>
          </form>
          <!--          table for training stat-->
          <table class="table table-striped">
            <thead>
            <tr>
              <th scope="col">Itsc</th>
              <th scope="col">Nickname</th>
              <th scope="col">Attended Training</th>
              <th scope="col">No Show Training</th>
              <th scope="col">Absented Training</th>
              <th scope="col">Late Replied Training</th>
              <th scope="col">No Replied Training</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let trainingStatic of trainingStatisticList">
              <th scope="row">{{trainingStatic.itsc}}</th>
              <th scope="row">{{trainingStatic.nickname}}</th>
              <td>{{trainingStatic.attend_training}} ({{calculatePercentage(trainingStatic.attend_training)}}%)</td>
              <td>{{trainingStatic.no_show_training}} ({{calculatePercentage(trainingStatic.no_show_training)}}%)</td>
              <td>{{trainingStatic.absent_training}} ({{calculatePercentage(trainingStatic.absent_training)}}%)</td>
              <td>{{trainingStatic.late_reply_training}} ({{calculatePercentage(trainingStatic.late_reply_training)}}
                %)
              </td>
              <td>{{trainingStatic.no_reply_training}} ({{calculatePercentage(trainingStatic.no_reply_training)}}%)</td>
            </tr>
            </tbody>
          </table>
        </ng-template>
      </div>
      <div class="card-footer">
        <h6>Total Trainings: {{totalTraining}}</h6>
      </div>
    </div>
  </div>
</div>

