<div class="card">
  <h5 class="card-header">
    Student Account Activation
  </h5>
  <div class="card-body">
    <div class="row">
      <div class="card-body">
        <h5 class="card-title">Update By Student ITSC</h5>
        <div class="row">
          <div class="col-3">
            <ng-multiselect-dropdown
              [settings]="actionDropDownSetting"
              [data]="actionList"
              formControlName="users"
              (onSelect)="onActionSelect($event)"
              (onDeSelect)="onActionDeSelect()"
            ></ng-multiselect-dropdown>
          </div>
          <div class="col-9">
            <ng-container *ngIf="!isLoading else loading">
              <ng-multiselect-dropdown [settings]="studentListDropDownSetting"
                                       [data]="studentListByStatus"
                                       formControlName="users"
                                       (onSelect)="onStudentSelect($event)"
              ></ng-multiselect-dropdown>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
