<div>
  <div>
    <p>user profile</p>
    <ul *ngIf="auth.user$ | async as user">
      <li>{{displayUser(user)}}</li>
      <li>{{ user.name }}</li>
      <div *ngIf="user['http://demozero.net/roles'].includes('Admin')">
        Admin
      </div>
      <div *ngIf="user['http://demozero.net/username']">
        {{user['http://demozero.net/username']}}
      </div>
    </ul>
  </div>
</div>

<div>
  <h1 class="mat-h1 title">Title</h1>
  <mat-grid-list cols="1" rowHeight="300px">
    <mat-grid-tile>
      <app-training-list class="dashboard-card"></app-training-list>
    </mat-grid-tile>
    <mat-grid-tile>
      <app-training-summary class="dashboard-card"></app-training-summary>
    </mat-grid-tile>
  </mat-grid-list>
</div>
Remainder:
<button class="btn">
  <i aria-hidden="true" class="fa fa-pencil"></i>
</button><br>
<textarea></textarea>


