<mat-card>
  <mat-card-header>
    <mat-card-title class="card-container-left">
      Training Summary
    </mat-card-title>
    <button (click)="getTrainingSummary()"
            class="right-btn" mat-button>
      <mat-icon aria-label="refresh icon">refresh</mat-icon>
    </button>
  </mat-card-header>

  <ng-container *ngIf="isLoading; else content">
    <mat-spinner></mat-spinner>
  </ng-container>

  <ng-template #content>
    <mat-card-content>
      <div class="mat-elevation-z8">
        <table *ngIf="displayDataList" [dataSource]="displayDataList" class="full-width-table" mat-table>

          <!--        &lt;!&ndash;        todo debug &ndash;&gt;-->
          <!--        <ng-container matColumnDef="id">-->
          <!--          <th *matHeaderCellDef mat-header-cell> id</th>-->
          <!--          <td *matCellDef="let element" mat-cell> {{element._id}} </td>-->
          <!--        </ng-container>-->

          <ng-container matColumnDef="Date">
            <th *matHeaderCellDef mat-header-cell>Date</th>
            <td *matCellDef="let element" mat-cell> {{dateUtil.displayFormat(element.date)}} </td>
          </ng-container>
          <ng-container matColumnDef="Training Place">
            <th *matHeaderCellDef mat-header-cell>Training<br>Place</th>
            <td *matCellDef="let element" mat-cell> {{element.place}} </td>
          </ng-container>
          <ng-container matColumnDef="Training Type">
            <th *matHeaderCellDef mat-header-cell>Training<br>Type</th>
            <td *matCellDef="let element" mat-cell>{{element.type}}</td>
          </ng-container>
          <ng-container matColumnDef="L/R">
            <th *matHeaderCellDef mat-header-cell>L/R</th>
            <td *matCellDef="let element" class="leftest-col" mat-cell> {{displayPeopleNo(element.left_side_paddle)}}
              /{{displayPeopleNo(element.right_side_paddle)}} </td>
          </ng-container>

          <tr *matHeaderRowDef="displayColumns" mat-header-row></tr>
          <tr (click)="getTrainingDetail(row)" *matRowDef="let row; columns: displayColumns;" mat-row></tr>
        </table>
      </div>
    </mat-card-content>
  </ng-template>
</mat-card>
