<mat-card class="mat-elevation-z0">
  <mat-card-header>
    <mat-card-title class="card-container-left">
      Training Summary <span *ngIf="showHistory">(History)</span>
      <button (click)="showTrainingSummaryHistory()" *ngIf="isAdmin" class="left-btn" mat-icon-button>
        <mat-icon aria-label="refresh icon">history</mat-icon>
      </button>
    </mat-card-title>
    <button (click)="showTrainingSummary()"
            class="right-btn" mat-button>
      <mat-icon aria-label="refresh icon">refresh</mat-icon>
    </button>
  </mat-card-header>

  <ng-container *ngIf="isLoading; else content">
    <mat-spinner></mat-spinner>
  </ng-container>

  <ng-template #content>
    <mat-card-content>
      <div class="mat-elevation-z8">
        <table [dataSource]="dataSource" aria-label="overall training summary table"
               class="full-width-table" mat-table>

          <ng-container matColumnDef="Date">
            <th *matHeaderCellDef mat-header-cell>Date</th>
            <td *matCellDef="let element" mat-cell> {{dateUtil.displayFormat(element.date)}} </td>
          </ng-container>
          <ng-container matColumnDef="Training Place">
            <th *matHeaderCellDef mat-header-cell>Place</th>
            <td *matCellDef="let element" mat-cell> {{element.place}} </td>
          </ng-container>
          <ng-container matColumnDef="Training Type">
            <th *matHeaderCellDef mat-header-cell>Type</th>
            <td *matCellDef="let element" mat-cell>{{element.type}}</td>
          </ng-container>
          <ng-container matColumnDef="L/R">
            <th *matHeaderCellDef mat-header-cell>L/R</th>
            <td *matCellDef="let element" class="leftest-col" mat-cell>
              {{displayPeopleNo(element.left_student)}}/{{displayPeopleNo(element.right_student)}}
            </td>
          </ng-container>

          <tr *matHeaderRowDef="displayColumns" mat-header-row></tr>
          <tr (click)="getTrainingDetail(row)" *matRowDef="let row; columns: displayColumns;" mat-row></tr>
        </table>

        <mat-paginator [pageIndex]="currentPage" [pageSizeOptions]="pageSizeOptions" [showFirstLastButtons]="true" (page)="handlePageEvent($event)">
        </mat-paginator>
      </div>
    </mat-card-content>
  </ng-template>
</mat-card>
