<mat-card-header>
  <span>Incoming Training</span>
  <button (click)="addNewTraining()" class="btn">
    <i class="fa fa-plus"></i>
  </button>
</mat-card-header>
<mat-card-content class="scrollable-content">
  <div [style.margin-top]="'12px'" fxLayout="row" fxLayoutGap="12px">
  <span *ngFor="let training of trainingList">
    <mat-card>
      <mat-card-title>{{training.type}}</mat-card-title>
      <mat-card-content>
        <li>{{training.date}}</li>
        <li>{{training.place}}</li>
        <input #reason
               placeholder="Absent reason"
               type="string"
               value="{{training.reason}}"/>
        <mat-card-actions>
          <button color="primary" mat-button>Attend</button>
          <button (click)="absentBtnOnclick($event, training, reason.value)"
                  color="accent"
                  mat-button>
            Absent
          </button>
        </mat-card-actions>
      </mat-card-content>
    </mat-card>
  </span>
  </div>
</mat-card-content>
