<mat-card>
  <mat-card-header>
    <mat-card-title class="card-container-left">
      Incoming Training
      <button (click)="addNewTrainingToDB()" class="btn">
        <i class="fa fa-plus"></i>
      </button>
    </mat-card-title>
    <mat-card-title class="card-container-right">
      <button (click)="getTrainingList()" class="btn">
        <i class="fa fa-refresh"></i>
      </button>
    </mat-card-title>
  </mat-card-header>

  <ng-container *ngIf="isLoading; else content">
    <app-loading></app-loading>
  </ng-container>

  <ng-template #content>
    <mat-card-content class="scrollable-content">
      <app-training-content [isEditAble]="true"
                            [trainingList]=trainingList></app-training-content>
    </mat-card-content>
  </ng-template>
</mat-card>
