<h2 mat-dialog-title>{{isEditTraining ? "Edit Training Information" : "New Training Information"}}</h2>
<mat-dialog-content>
  <form [formGroup]="trainingForm">
    <div formArrayName="trainings"
         *ngFor="let item of trainingFormGroup.controls; let i = index;">
      <div [formGroupName]="i">
        <mat-form-field appearance="fill">
          <mat-label>Training Place</mat-label>
          <input formControlName="place" matInput>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Training Type</mat-label>
          <mat-select formControlName="type">
            <mat-option value="Water">Water</mat-option>
            <mat-option value="Land">Land</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Choose Date & Time</mat-label>
          <input [ngxMatDatetimePicker]="picker" formControlName="date" matInput>
          <mat-datepicker-toggle [for]="$any(picker)" matSuffix></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
        </mat-form-field>

        <button (click)="removeTraining(i)" *ngIf="!isEditTraining" mat-button>
          <mat-icon>remove</mat-icon>
        </button>
      </div>
    </div>
    <button (click)="appendTraining()" *ngIf="!isEditTraining" mat-button>
      <mat-icon>add</mat-icon>
    </button>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="insertNewTrainingToDB()" mat-button>{{isEditTraining ? "Update" : "Create"}}</button>
</mat-dialog-actions>
