<h2 mat-dialog-title>{{isEditTraining ? "Edit Training Information" : "New Training Information"}}</h2>
<mat-dialog-content>
  <form [formGroup]="trainingForm">
    <div formArrayName="trainings"
         *ngFor="let item of trainingFormGroup.controls; let index = index;">
      <div [formGroupName]="index">
        <mat-form-field appearance="fill">
          <mat-label>Training Place</mat-label>
          <input formControlName="place" matInput [matAutocomplete]="autoPlace">
          <mat-autocomplete #autoPlace="matAutocomplete">
            <mat-option *ngFor="let trainingPlace of trainingPlace" [value]="trainingPlace.value">
              {{trainingPlace.viewValue}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Training Type</mat-label>
          <input formControlName="type" matInput [matAutocomplete]="autoType">
          <mat-autocomplete #autoType="matAutocomplete">
            <mat-option *ngFor="let trainingType of trainingType" [value]="trainingType.value">
              {{trainingType.viewValue}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Choose Date & Time</mat-label>
          <input (dateChange)="autoFillDateTime($event, index)" [ngxMatDatetimePicker]="dateTimePicker"
                 formControlName="date" matInput readonly required>
          <mat-datepicker-toggle [for]="$any(dateTimePicker)" matSuffix></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #dateTimePicker></ngx-mat-datetime-picker>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Choose Reply Deadline</mat-label>
          <input [ngxMatDatetimePicker]="deadlinePicker" formControlName="deadline" matInput readonly required>
          <mat-datepicker-toggle [for]="$any(deadlinePicker)" matSuffix></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #deadlinePicker></ngx-mat-datetime-picker>
        </mat-form-field>

        <button (click)="removeTraining(index)" *ngIf="!isEditTraining" class="btn">
          <i class="fa-solid fa-xmark"></i>
        </button>
      </div>
    </div>
    <button (click)="appendTraining()" *ngIf="!isEditTraining" class="btn">
      <i class="fa-solid fa-plus"></i>
    </button>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button mat-dialog-close>Cancel</button>
  <button (click)="insertNewTrainingToDB()" mat-button>{{isEditTraining ? "Update" : "Create"}}</button>
</mat-dialog-actions>
