<mat-dialog-actions align="end">
  <button mat-dialog-close="true" mat-icon-button>
    <mat-icon>close</mat-icon>
  </button>
</mat-dialog-actions>

<app-training-content [trainingList]="[dialogInputData.rawData]"></app-training-content>

<ng-container *ngIf="isLoading; else content">
  <mat-spinner></mat-spinner>
</ng-container>

<ng-template #content>
  <div class="row detail-content">
    <div class="col-6 side-table">
      <table [dataSource]="attendLeftStudent" class="mat-elevation-z1" mat-table>
        <ng-container matColumnDef="left">
          <th *matHeaderCellDef mat-header-cell>
            Left ({{attendLeftStudent?.length}})
          </th>
          <td *matCellDef="let element" mat-cell>
          <span [ngClass]="('late reply' === element.status)? 'red-out': 'normal'">
            {{element.username}}
            <span *ngIf="element.reason">({{element.reason}})</span>
          </span>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="leftStudentCol" mat-header-row></tr>
        <tr *matRowDef="let row; columns: leftStudentCol;" mat-row></tr>
      </table>
    </div>
    <div class="col-6 side-table">
      <table [dataSource]="attendRightStudent" class="mat-elevation-z1" mat-table>
        <ng-container matColumnDef="right">
          <th *matHeaderCellDef mat-header-cell>
            Right ({{attendRightStudent?.length}})
          </th>
          <td *matCellDef="let element" mat-cell>
          <span [ngClass]="('late reply' === element.status)? 'red-out': 'normal'">
            {{element.username}}
            <span *ngIf="element.reason">({{element.reason}})</span>
          </span>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="rightStudentCol" mat-header-row></tr>
        <tr *matRowDef="let row; columns: rightStudentCol;" mat-row></tr>
      </table>
    </div>
    <div class="col-12 detail-content">
      <table [dataSource]="nonReplyStudent" class="mat-elevation-z1" mat-table>
        <ng-container matColumnDef="nonReply">
          <th *matHeaderCellDef mat-header-cell>
            Not Reply / Absent ({{nonReplyStudent?.length}})
          </th>
          <td *matCellDef="let element" mat-cell>
            {{element.username}}
            <span *ngIf="element.reason">({{element.reason}})</span>
          </td>
        </ng-container>

        <tr *matHeaderRowDef="nonReplyStudentCol" mat-header-row></tr>
        <tr *matRowDef="let row; columns: nonReplyStudentCol;" mat-row></tr>
      </table>
    </div>
  </div>
</ng-template>
