table {
  width: 100%;
}

.detail-content {
  padding-top: 12px;
}

td, th {
  text-align: center !important;
  vertical-align: middle !important;
}

.red-out {
  color: crimson;
}

.normal {
  color: black;
}
