<div class="card">
  <h5 class="card-header">
    Coach
    <button class="btn" (click)="addCoach()">
      <i class="fa-solid fa-plus"></i>
    </button>
  </h5>
  <div class="card-body">
    <ng-container *ngIf="!isAWSLoading; else loading">
      <div class="container">
        <div class="row">
          <div class="col">
            <ul class="list-group">
              <li *ngFor="let coach of coachList;">
                {{coach.nickname}}
                <button class="btn" (click)="editCoach(coach)">
                  <i class="fa-solid fa-pencil"></i>
                </button>
                <button class="btn" (click)="removeCoach(coach)">
                  <i class="fa-solid fa-xmark"></i>
                </button>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

<ng-template #loading>
  <app-loading></app-loading>
</ng-template>
