<div>
  <mat-toolbar color="primary">
    <button
      (click)="toggleSideNav()"
      *ngIf="isHandset$ | async"
      aria-label="Toggle sidenav"
      mat-icon-button
      type="button">
      <i class="fa-solid fa-bars"></i>
    </button>
    <span>HKUST Dragon Boat</span>
    <span class="spacer"></span>

    <ng-container *ngIf="showBtn">
      <ng-container *ngIf="isLoggedIn$ | async">
        <button
          (click)="openProfileDialog()"
          aria-label="profile btn"
          mat-button
          type="button">
          <span class="header-text">
            <i class="fa-solid fa-user"></i> Profile
          </span>
        </button>
        <button
          (click)="logout()"
          aria-label="logout btn"
          mat-button
          type="button">
          <span class="header-text">
            <i class="fa-solid fa-arrow-right-from-bracket"></i> Log Out
          </span>
        </button>
      </ng-container>
    </ng-container>
  </mat-toolbar>
</div>

