<p>Student Profile</p>

<ng-container *ngIf="isLoading; else content">
  <mat-spinner></mat-spinner>
</ng-container>

<ng-template #content>
  <mat-dialog-content>
    <form [formGroup]="profileForm">
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Itsc</mat-label>
          <input formControlName="itsc" id="itsc" matInput readonly type="text">
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Nickname</mat-label>
        <input formControlName="nickname" id="nickname" matInput type="text">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Date of Birth</mat-label>
        <input [matDatepicker]="picker" formControlName="date_of_birth" id="date_of_birth" matInput>
        <mat-datepicker-toggle [for]="$any(picker)" matSuffix></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <div>
        <label for="gender">Gender: </label>
        <mat-radio-group formControlName="gender" id="gender">
          <mat-radio-button value="female">Female</mat-radio-button>
          <mat-radio-button value="male">Male</mat-radio-button>
        </mat-radio-group>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Weight (KG)</mat-label>
        <input formControlName="weight" id="weight" matInput>
      </mat-form-field>
      <!--      <div>-->
      <!--        <label for="lastUpdateTime">Last update time </label>-->
      <!--        <input formControlName="lastUpdateTime" id="lastUpdateTime" type="text">-->
      <!--      </div>-->
      <!--      <div>-->
      <!--        <label for="email">email </label>-->
      <!--        <input formControlName="email" id="email" type="text">-->
      <!--      </div>-->
      <div>
        <label for="paddle_side">Paddle Side: </label>
        <mat-radio-group formControlName="paddle_side" id="paddle_side">
          <mat-radio-button value="left">Left</mat-radio-button>
          <mat-radio-button value="right">Right</mat-radio-button>
        </mat-radio-group>
      </div>
    </form>
  </mat-dialog-content>
</ng-template>

<mat-dialog-actions>
  <button mat-button mat-dialog-close="true">Cancel</button>
  <button (click)="updateProfile()" mat-button>Update</button>
</mat-dialog-actions>


