<mat-card class="mat-elevation-z0">
  <mat-card-header>
    <mat-card-title>
      Reminder:
      <button class="btn" (click)="enableEdit()" *ngIf="isAdmin && !isLoading">
        <i class="fa-solid fa-pencil"></i>
      </button>
    </mat-card-title>
    <button (click)="submitReminder()" *ngIf="!isReadOnly && isAdmin" class="btn right-btn">
      <i class="fa-solid fa-check"></i>
    </button>
  </mat-card-header>

  <mat-card-content>
    <ng-container *ngIf="isLoading; else content">
      <app-loading></app-loading>
    </ng-container>
    <ng-template #content>
      <form [formGroup]="reminderForm" class="reminder-form">
        <mat-form-field appearance="fill" class="full-width">
          <textarea class="text-block" formControlName="reminder" id="reminder" matInput readonly="{{isReadOnly}}"
                    type="text"></textarea>
        </mat-form-field>
      </form>
    </ng-template>
  </mat-card-content>
</mat-card>
