.reminder-form {
  min-height: 200px;
  width: 100%;
}

.full-width {
  width: 100%;
}

.text-block {
  height: 150px;
}

.right-btn {
  float: right;
  padding-right: 0;
  font-size: x-large;
}

.mat-card-header .mat-card-title {
  margin-bottom: 0;
}
