<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card-body">
        <h5 class="card-title">Sample Create Student Account File</h5>
        <button (click)="downloadSampleFile()" class="btn btn-outline-secondary" type="button">Download</button>
      </div>
    </div>
    <div class="col-sm">
      <div class="card-body">
        <h5 class="card-title">Create New Student Account</h5>
        <div class="input-group">
          <div class="custom-file">
            <input #uploadCsvInput (change)="uploadStudentCsv($event)" aria-describedby="inputGroupFileAddon"
                   class="custom-file-input" id="fileUploadInput" type="file">
            <label class="custom-file-label" for="fileUploadInput">Choose Student Account CSV</label>
          </div>
          <div class="input-group-append">
            <button (click)="createUser()" class="btn btn-outline-secondary" id="createBtn" type="button">Create
            </button>
          </div>
          <div class="input-group-append">
            <button (click)="reset()" class="btn btn-outline-secondary" id="clearBtn" type="button">Clear</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="card-body">
        <ng-container *ngIf="!isLoading; else loading">
          <h5 class="card-title">Assign Role to Student Account</h5>
          <div class="container">
            <form (ngSubmit)="onSubmitAssignRoleForm()" [formGroup]="assignRoleForm">
              <div class="row">
                Assign
                <div class="col-4">
                  <ng-multiselect-dropdown
                    [settings]="roleDropDownSetting"
                    [data]="userRoleList"
                    formControlName="role"
                    id="role"
                  >
                  </ng-multiselect-dropdown>
                </div>
                To
                <div class="col-4">
                  <ng-multiselect-dropdown
                    [settings]="studentACDropDownSetting"
                    [data]="studentAccountList"
                    formControlName="users"
                    id="users"
                  >
                  </ng-multiselect-dropdown>
                </div>
                <button class="btn btn-outline-secondary" type="submit">Submit</button>
              </div>
            </form>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="spinner-border text-secondary" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</ng-template>

